<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMETIC</title>
</head>
<body>
    <header class="flex align-center justify-between bg-cyan-400 ">
        <img class="ml-60 w-1/8" src="IMG/logo2.png">
        <section class="flex self-center">
            <img class="w-6" src="ICONS/search.svg">
            <input class="w-9/12 h-8" type="text" placeholder="Search...">
        </section>
        <nav class="flex self-center">
            <img class="w-6" src="ICONS/perfil.svg">
            <img class="mr-60 w-6" src="ICONS/cart.svg">
        </nav>
        
    </header>


    <!-- TAILWIND SCRIPT -->
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>