<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Footer my guys and girl</title>
</head>
<body>
    <footer class=" min-w-full min-h-2/6 bg-[#0c4a6e] block border overflow-hidden p-4">
        <section class="min-w-full min-h-16 bg-white border-bottom-4 border-4 border-indigo-500/100 p-2 flex">
            <div class="w-1/2 border-2 border-rose-600">GameTic</div>
            <div class="w-1/2 border-2 border-rose-600">redes sociais</div>
        </section>
        <section class="box_2 min-w-full min-h-28 bg-white border-4 border-indigo-500/100 p-2 flex justify-around">
            <div class="min-w-30 min-h-full m-4 border-2 border-rose-600">
                <title class="">Login/Register</title>
                <p>Are you already an Gametic user?</p>
                <p>If not, What are you waiting for?</p>
                <a href="src/register.html">Register Now!!</p>
                <button>Click here</button>
            </div>
            <div class="min-w-16 min-h-16 m-4 border-2 border-rose-600">
                <p><a href="contact.html">Contact us</a></p>
            </div>
            <div class="min-w-16 min-h-16 m-4 border-2 border-rose-600">
                <title>About Us</title>
            </div>
            <div class="min-w-16 min-h-16 m-4 border-2 border-rose-600">
                <title>Leave us a Comment!</title>
                <input type="text">
            </div>         
        </section>
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>