<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
       <!--container-->
       <div class = "h-screen flex justify-center items-center w-full">
        <!--box-->
        <div class = "w-2/6 h-3/4 bg-slate-200 shadow-lg shadow-black rounded-3xl flex justify-center items-center flex-col">
            <!--input-->
            <div class = "m-2.5 border-black bg-blue-800 h-7 w-9/12"></div>
            <div class = "m-2.5 border-black bg-blue-800 h-7 w-9/12"></div>
            <div class = "m-2.5 border-black bg-blue-800 h-7 w-9/12"></div>
            <div class = "m-2.5 border-black bg-blue-800 h-7 w-9/12"></div>
            <div class = "m-2.5 border-black bg-blue-800 h-7 w-9/12"></div>
            <div class = "m-2.5 border-black bg-blue-800 h-7 w-9/12"></div>
            <div class = "m-2.5 border-black bg-blue-800 h-7 w-9/12"></div>
        </div>
    </div>
</body>
</html>