<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header class="flex align-center justify-between bg-cyan-400 ">
        <img class="ml-60 w-1/8" src="navbar/IMG/logo2.png">
        <section class="flex self-center">
            <img class="w-6" src="navbar/ICONS/search.svg">
            <input class="w-9/12 h-8" type="text" placeholder="Search...">
        </section>
        <nav class="flex self-center">
            <img class="w-6" src="navbar/ICONS/perfil.svg">
            <img class="mr-60 w-6" src="navbar/ICONS/cart.svg">
        </nav>
        
    </header>
 

    <section class = "h-screen flex justify-center items-center w-full bg-neutral-100">
            <!--box-->
            <div class = "w-2/6 h-3/5 bg-neutral-100 shadow-lg shadow-black rounded-3xl flex justify-center items-center flex-col text-left">
                <!--input-->
                <h1 class = "font-black text-3xl mb-10">LOGIN</h1>

                <div class = "text-left w-3/4 pl-2.5 font-semibold uppercase">
                    <label>Name</label>
                </div>
                <input type="text" class = "text-white pl-2.5 m-2.5 border-black bg-blue-800 h-7 w-9/12 rounded-md mt-0"></input>

                <div class = "text-left w-3/4 pl-2.5 font-semibold uppercase">
                    <label>Password</label>
                </div>
                <input type="password" class = "text-white pl-2.5 m-2.5 border-black bg-blue-800 h-7 w-9/12 rounded-md mt-0 "></input>

                <button class = "uppercase mt-7 text-white rounded-full font-bold bg-blue-800 w-2/5 p-2.5 hover:text-blue-800 hover:bg-neutral-100 hover:border-2 hover:border-solid hover:border-black">login</button>

                <a href="forum__register.html" class = "uppercase font-bold pt-5 hover:text-blue-800">Sign up here!</a>
            </div>
       
    </section>


    <footer class=" min-w-full min-h-2/6 bg-[#0c4a6e] block border overflow-hidden p-4">
        <section class="min-w-full min-h-16 bg-white border-bottom-4 border-4 border-indigo-500/100 p-2 flex">
            <div class="w-1/2 border-2 border-rose-600">GameTic</div>
            <div class="w-1/2 border-2 border-rose-600">redes sociais</div>
        </section>
        <section class="box_2 min-w-full min-h-28 bg-white border-4 border-indigo-500/100 p-2 flex justify-around">
            <div class="min-w-30 min-h-full m-4 border-2 border-rose-600">
                <title class="">Login/Register</title>
                <p>Are you already an Gametic user?</p>
                <p>If not, What are you waiting for?</p>
                <p>Register Now!!</p>
                <button>Click here</button>
            </div>
            <div class="min-w-16 min-h-16 m-4 border-2 border-rose-600">
                <title>Porduct</title>
            </div>
            <div class="min-w-16 min-h-16 m-4 border-2 border-rose-600">
                <title>About Us</title>
            </div>
            <div class="min-w-16 min-h-16 m-4 border-2 border-rose-600">
                <title>Leave us a Comment :)</title>
                <input type="text">
            </div>         
        </section>
    </footer>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>