<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <section class = "h-screen flex justify-center items-center w-full bg-neutral-100">
            <!--box-->
            <div class = "w-2/6 h-3/5 bg-neutral-100 shadow-lg shadow-black rounded-3xl flex justify-center items-center flex-col text-left">
                <!--input-->
                <h1 class = "font-black text-3xl mb-10">LOGIN</h1>

                <div class = "text-left w-3/4 pl-2.5 font-semibold uppercase">
                    <label>Name</label>
                </div>
                <input type="text" class = "text-white pl-2.5 m-2.5 border-black bg-blue-800 h-7 w-9/12 rounded-md mt-0"></input>

                <div class = "text-left w-3/4 pl-2.5 font-semibold uppercase">
                    <label>Password</label>
                </div>
                <input type="password" class = "text-white pl-2.5 m-2.5 border-black bg-blue-800 h-7 w-9/12 rounded-md mt-0 "></input>

                <button class = "uppercase mt-7 text-white rounded-full font-bold bg-blue-800 w-2/5 p-2.5 hover:text-blue-800 hover:bg-neutral-100 hover:border-2 hover:border-solid hover:border-black"> <a href="/src/home.html">login</a></button>

                <a href="/src/register.html" class = "uppercase font-bold pt-5 hover:text-blue-800">Sign up here!</a>
            </div>
       
    </section>

    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>