<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hero</title>
</head>
<body>
    <section id="hero-section" class="relative flex flex-col justify-center h-screen bg-[url('/src/assets/hero-image.jpg')] bg-cover bg-fixed overflow-hidden before:absolute before:-inset-1 before:bg-black before:opacity-75">
        <div class="container mx-auto z-10">
            <h1 class="font-semibold text-white text-8xl tracking-wider pb-2">GameTic</h1>
            <a href="/src/products.html" class="font-extralight text-white text-3xl pl-2"> <span class="underline">Veja</span> os nossos jogos!</a>
        </div> 
    </section>
</body>
</html>