<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stuff</title>
</head>
<body>
    <div class="mt-20 flex column w-1000 h-1000  text-left">
        <div class="flow-root ...">
          <div class="bg-cyan-300 w-50% m-20 my-4 ...bg-cyan-300">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repellat tenetur, 
              laudantium veniam id aut incidunt nesciunt exercitationem ea voluptas cupiditate, 
              fugiat quia praesentium? Laborum nobis assumenda aliquid deleniti sapiente.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut tenetur cum dicta commodi impedit consequatur, 
            beatae sunt accusamus architecto. Voluptate delectus soluta similique vitae dolore corporis at repellendus iste aspernatur.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repellat tenetur, 
              laudantium veniam id aut incidunt nesciunt exercitationem ea voluptas cupiditate, 
              fugiat quia praesentium? Laborum nobis assumenda aliquid deleniti sapiente.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut tenetur cum dicta commodi impedit consequatur, 
            beatae sunt accusamus architecto. Voluptate delectus soluta similique vitae dolore corporis at repellendus iste aspernatur.
        </div>
        </div>
        <div class="flow-root ...">
          <div class="bg-cyan-300 w-50% m-20 my-4 ...">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed vitae nisi cum voluptates ipsam hic, 
            adipisci magni fugit cumque ullam totam reiciendis qui iure laborum possimus deleniti iste libero ut. Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Voluptate quia enim tempora ratione laboriosam, 
            minus sequi nisi vitae modi natus obcaecati dignissimos doloremque itaque earum dolores reprehenderit voluptatum possimus tenetur.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repellat tenetur, 
            audantium veniam id aut incidunt nesciunt exercitationem ea voluptas cupiditate, 
            fugiat quia praesentium? Laborum nobis assumenda aliquid deleniti sapiente.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut tenetur cum dicta commodi impedit consequatur, 
            beatae sunt accusamus architecto. Voluptate delectus soluta similique vitae dolore corporis at repellendus iste aspernatur.sadsdfsdfsdfsdfsdfsdfs dsfds
            </div>
        </div>
      </div>
      <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>