<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TAILWIND SCRIPT -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>GAMETIC</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="flex align-center justify-between bg-cyan-400 ">
        <a href="/src/home.html">
            <img class="ml-60 w-1/8" src="/src/assets/logo2.png">
        </a> 

        <section class="flex self-center">
            <a href="#">
                <img class="w-6" src="/src/assets/search.svg">
            </a> 
            <input class="w-9/12 h-8" type="text" placeholder="Search...">
        </section>

        <section class="flex self-center">
            <a href="/src/login.html">
                <img class="w-6" src="/src/assets/perfil.svg">
            </a> 
            <a href="/src/basket.html">
                <img class="mr-60 w-6" src="/src/assets/cart.svg">
            </a>
        </section>
    </nav>
</body>
</html>